PORT=3001
NODE_ENV=development

DATABASE_URL=postgresql://postgres:786@admin@localhost:5432/e_commerce_app

CLERK_PUBLISHABLE_KEY=pk_test_bW92ZWQtbWFjYXctOTEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_W6GWoE3v5iEaxXrCuDLYmOhY9KJmsqEbsPxoS9Fpil

SENTRY_DSN="https://877ba2b008da78c97299f88b4dc00df5@o4511324430663680.ingest.de.sentry.io/4511324451766352"

STREAM_API_KEY=sbwy4x3exm4v
STREAM_API_SECRET=9hankt4t2gftv4aruxk9dpqbajxs7eg7cxaz2ftkcaaukuwuxvbc4ut6wk6dpe37

IMAGEKIT_PUBLIC_KEY=public_/LOj8imG9V0336II72eT5/YEslA=
IMAGEKIT_PRIVATE_KEY=private_zKECwsSKeBSSHJfIKuKIkPrSGco=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/hgw6c89i8